* {
	box-sizing: border-box;
}

body,
input {
	font-size: 0.8rem;
}

.App__form {
	padding: 1.5rem;
	margin: 0 auto;
}

.App__form > h2 {
	margin-bottom: 0.5rem;
}

.App__form a {
	text-decoration: none;
	color: rgb(38, 124, 194);
}

.App__form span {
	margin-bottom: 1.5rem;
}

.form__text-field:first {
	margin-top: 4rem;
}

.form__text-field {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.form__text-field input {
	border-radius: 0.25rem;
	display: block;
	width: 100%;
	min-height: 2.5rem;
	outline: 1px thin gray;
	color: rgb(89, 155, 209);
}

.form__text-field > input:focus {
	color: rgb(3, 3, 7);
	outline: 1px thin rgb(40, 175, 238);
}

.form__text-field > input:not([value=""]){
	color: rgb(3, 3, 7);
}

.text-field__choices {
	border-radius: 0.25rem;
	margin-top:0.2rem;
	cursor: pointer;
	width:100%;
	position:relative;
	outline: 1px solid gray;
	display: none;
}
.text-field__input--choice{
	cursor: pointer;
}
.choices__choice {
	cursor: pointer;
	width:100%;
	border: none !important;
}
.choices__choice:hover {
	background-color: rgb(228, 246, 246);
}

.text-field__label {
	color: rgb(110, 105, 105);
	padding: 0.3rem 0;
}

.error-message {
	color: rgb(231, 30, 30);
	padding: 0.3rem 0;
}

.check-field{
	margin-top: 1.5rem;
	margin-bottom:1.5rem;
}

.button {
	cursor: pointer;
	display: block;
	margin-top: 1rem;
	width: 100%;
	min-height: 2.5rem;
	border: none;
	border-radius: 0.25rem;
	text-align: center;
	color: white;
	background-color: rgb(26, 134, 223);
}

.button:disabled {
	cursor: default;
	background-color: rgb(187, 212, 235);
	color: rgb(148, 148, 148);
}
